version: '2'
services:
  tests:
    build: .
    volumes:
      - "./tests/test-plugin:/plugin:ro"
  release:
    build: .
    image: buildkite/plugin-tester:latest@sha256:3353aad77c88b7cd3ed59423a1bc72c56e034a00623378c36c443f6dba1b3722
